<div class="orcamento-wrap">         
            
            <div class="container mt-3">
              <div class="banner">SOLICITAÇÃO DE ORÇAMENTO</div>

              <!-- Botão Voltar -->
              <div class="btn-voltar">
                <button type="button" class="btn btn-secondary" routerLink="/">← Voltar para Home</button>
              </div>

              <!-- Moldura ao redor do formulário -->
              <div class="form-box">
                <form #f="ngForm" (ngSubmit)="solicitarOrcamento()">
                  <div class="principal">

                    <!-- Linha 1 -->
                    <div class="field-group">
                      <div class="input-item col-8" id="nome-requisitante-box">
                        <label for="nome_requisitante">Nome do Requisitante:</label>
                        <input class="input-caixa h-md" type="text" id="nome_requisitante" name="nome_requisitante"
                              [(ngModel)]="nome_requisitante" required maxlength="100">
                      </div>

                      <div class="input-item col-4" id="tipo-evento-box">
                        <label for="tipo_evento">Tipo de Evento:</label>
                        <select class="input-caixa h-md" id="tipo_evento" name="tipo_evento" [(ngModel)]="tipo_evento" required>
                          <option value="" disabled selected>Selecione</option>
                          <option>Aniversário</option>
                          <option>Casamento</option>
                          <option>Ensaio</option>
                          <option>Batizado</option>
                          <option>Outros</option>
                        </select>
                      </div>
                    </div>

                    <!-- Linha 2 -->
                    <div class="field-group5">
                      <div class="input-item col-3" id="data-desejada-box">
                        <label for="data_desejada">Data Desejada:</label>
                        <input class="input-caixa h-md" type="date" id="data_desejada" name="data_desejada"
                              [(ngModel)]="data_desejada" required>
                      </div>
                      <div class="input-item col-3" id="horario-box">
                        <label for="horario">Horário:</label>
                        <input class="input-caixa h-md" type="time" id="horario" name="horario" [(ngModel)]="horario">
                      </div>
                      <div class="input-item col-3" id="quantidade-box">
                        <label for="quantidade_pessoas">Pessoas:</label>
                        <input class="input-caixa h-md" type="number" id="quantidade_pessoas" name="quantidade_pessoas"
                              [(ngModel)]="quantidade_pessoas" min="1" required>
                      </div>
                      <div class="input-item col-3" id="duracao-box">
                        <label for="duracao_horas">Duração Estimada (horas):</label>
                        <input class="input-caixa h-md" type="number" id="duracao_horas" name="duracao_horas"
                              [(ngModel)]="duracao_horas" step="0.5">
                      </div>
                    </div>

                    <!-- Linha 3 (Descrição) -->
                    <div class="input-item col-12" id="descricao-box">
                      <label for="descricao">Descrição: (Fale do local onde será o evento, se é play ou casas de festa, por exemplo!</label>
                      <textarea class="input-caixa ta-md" id="descricao" name="descricao" [(ngModel)]="descricao"></textarea>
                    </div>

                    <!-- Linha 4 (Endereço 1) -->
                    <div class="field-group2">
                      <div class="input-item col-6" id="logradouro-box">
                        <label for="logradouro">Endereço do Evento:</label>
                        <input class="input-caixa" type="text" id="logradouro" name="logradouro"
                              [(ngModel)]="logradouro" maxlength="100">
                      </div>
                      <div class="input-item col-2" id="numero-box">
                        <label for="numero">Número:</label>
                        <input class="input-caixa" type="text" id="numero" name="numero" [(ngModel)]="numero" maxlength="10">
                      </div>
                      <div class="input-item col-4" id="complemento-box">
                        <label for="complemento">Complemento:</label>
                        <input class="input-caixa" type="text" id="complemento" name="complemento"
                              [(ngModel)]="complemento" maxlength="50">
                      </div>
                    </div>

                    <!-- Linha 5 (Endereço 2) -->
                    <div class="field-group3">
                      <div class="input-item col-4" id="bairro-box">
                        <label for="bairro">Bairro:</label>
                        <input class="input-caixa" type="text" id="bairro" name="bairro" [(ngModel)]="bairro" maxlength="30">
                      </div>
                      <div class="input-item col-4" id="cidade-box">
                        <label for="cidade">Cidade:</label>
                        <input class="input-caixa" type="text" id="cidade" name="cidade" [(ngModel)]="cidade" maxlength="50">
                      </div>
                      <div class="input-item col-2" id="estado-box">
                        <label for="estado">Estado:</label>
                        <input class="input-caixa" type="text" id="estado" name="estado" [(ngModel)]="estado" maxlength="2">
                      </div>
                      <div class="input-item col-2" id="cep-box">
                        <label for="cep">CEP:</label>
                        <input class="input-caixa" type="text" id="cep" name="cep" [(ngModel)]="cep" maxlength="10">
                      </div>
                    </div>

                    <!-- Linha 6 (Contato) -->
                    <div class="field-group4">
                      <div class="input-item col-6" id="celular-box">
                        <label for="celular">Celular:</label>
                        <input class="input-caixa" type="text" id="celular" name="celular" [(ngModel)]="celular" maxlength="20">
                      </div>
                      <div class="input-item col-6" id="email-box">
                        <label for="email">Email:</label>
                        <input class="input-caixa" type="email" id="email" name="email" [(ngModel)]="email" maxlength="100">
                      </div>
                    </div>

                    <div id="success-message" *ngIf="mensagem">{{ mensagem }}</div>
                  </div>

                  <div class="btn01">
                    <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
                    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
                  </div>
                </form>
              </div>
            </div>
</div>